* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
}

ul {
  display: flex;
  list-style: none;
}

li {
  flex-grow: 1;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 4px solid black;
}

a:hover {
  color: yellow;
}

section {
  padding-top: 30px;
  text-align: center;
}

.homeselected {
  border-bottom-color: red;
  background-color: grey;
  letter-spacing: 6px;
}

.newsselected {
  border-bottom-color: green;
  background-color: grey;
  letter-spacing: 6px;
}

.contactselected {
  border-bottom-color: orange;
  background-color: grey;
  letter-spacing: 6px;
}
